<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/chartjs/2.9.3/Chart.min.css">

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/chartjs/2.9.3/Chart.bundle.min.js"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/utilities.js}"></script>

    <title>Shahkar Dashboard</title>
</head>

<body style="background-color: #fdfdfd">
    <nav class="navbar sticky-top navbar-light navbar-expand" style="background-color:#ffcc00;">
            <a class="navbar-brand" th:href="@{/dashboard}">
                <img th:src="@{/images/mtn-irancell.svg}" class="d-inline-block align-self-center" style="height: 80px ; width: 80px">
                Shahkar Mismatch Dashboard
            </a>
    </nav>

    <div class="container-fluid" style="background-color: #fdfdfd;">
        <div class="row align-items-center justify-content-center my-1  my-lg-5 mx-lg-1 mh-100">
            <div class="col col-lg-9 border shadow">
                <input type="date" id="StatsDate" name="StatsDate">
                <div>
                    <canvas id="daily"></canvas>
                </div>
            </div>
            <!--<div class="col col-lg-6 border shadow">-->
                <!--<label for="MonthlyStats">Monthly Statisctics Date</label>-->
                <!--<input type="date" id="MonthlyStats" name="MonthlyStats">-->
                <!--<div>-->
                    <!--<canvas id="monthly"></canvas>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="row align-items-center justify-content-center mt-lg-3 mx-lg-1">
            <!--<div class="col col-md-6 border shadow">-->
            <div class="col col-lg-9 border shadow">
                <!--<label for="fromTo">Daily Statisctics Date</label>-->
                <input type="date" id="from" name="from">
                <input type="date" id="to" name="to">
                <div>
                    <canvas id="fromToChart"></canvas>
                </div>
            </div>
            <!--<div class="col col-lg-6 border shadow">-->
                <!--<label for="MonthlyStats">Monthly Statisctics Date</label>-->
                <!--<input type="date" id="MonthlyStats" name="MonthlyStats">-->
                <!--<div>-->
                    <!--<canvas id="monthly"></canvas>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!--<div class="row align-items-center justify-content-center mt-lg-3 mx-lg-1 mb-lg-5 ">-->
            <!--&lt;!&ndash;<div class="col col-md-6 border shadow">&ndash;&gt;-->
            <!--<div class="col col-lg-6 border shadow">-->
                <!--<label for="StatsDate">Daily Statisctics Date</label>-->
                <!--<input type="date" id="StatsDate" name="StatsDate">-->
                <!--<div>-->
                    <!--<canvas id="daily"></canvas>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col col-lg-6 border shadow">-->
                <!--<label for="MonthlyStats">Monthly Statisctics Date</label>-->
                <!--<input type="date" id="MonthlyStats" name="MonthlyStats">-->
                <!--<div>-->
                    <!--<canvas id="monthly"></canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <!--<footer class="fixed-bottom justify-content-center" style="background-color: #4c4c4c; min-height: 50px ;">-->
    <!--&lt;!&ndash;<footer style="background-color: #000000; min-height: 50px ; max-height: 15%">&ndash;&gt;-->
        <!--<a class="nav-link " href="#">Shahkar Dashboard</a>-->
    <!--</footer>-->
    <script>
        window.onload = new function (e) {
            setTodayDateISO('#StatsDate');
            setYesterdayDateISO('#from');
            setTodayDateISO('#to');
            getDailyStatsAndDraw('#StatsDate','daily');
            getDailyStatsFromTo('#from','#to', 'fromToChart');
        };
    </script>
</body>

</html>