<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "https://d3js.org/d3.v4.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="legend">SVG circle with animation - to see it again, refresh the browser:</div>
<div id="bogo_animation"></div>
<script type="text/javascript">
    var bogoSVG = d3.select("#bogo_animation")
        .append("svg")
        .attr("width", 300)
        .attr("height", 300);

    bogoSVG.append("circle")
        .style("stroke", "white")
        .style("fill", "purple")
        .attr("r", 130)
        .attr("cx", 150)
        .attr("cy", 150)
        .transition()
        .delay(100)
        .duration(10000)
        .attr("r", 10)
        .attr("cx", 150)
        .style("fill", "pink");

</script>
</body>
</html>